{% load static %}

<div class="container-fluid bg-sq-img cl-grey bg-white">
    <div class="false-ex-nav"></div>
    <div class="shortener-outer-wrap text-center" id="shortener-outer-id">
        <form class="form-group" method="POST" action="{% url 'shortner-index' %}">
            {% csrf_token %}
            <div class="row no-margin-lr ">
                <div class="di-ctn-h-center bg-white shortener-wrap shadow-round-blue">

                    <div class="row shortener-header">
                        <div class="col-xs-12 col-sm-12 no-padding-lr di-ctn-h-center">
                            URL SHORTENER
                        </div>
                    </div>

                    <div class="row no-margin-lr margin-top-5">
                        <div class="col-xs-12 col-sm-12 no-padding-lr di-ctn-h-center pd-top-15 shortener-instruct-text
                                pd-bottom-20"
                        >
                            Enter the url you want to short.
                        </div>
                    </div>
                    {% if is_success %}
                        <div class="row no-margin-lr">
                            <div class="col-xs-12 col-sm-12 no-padding-lr di-ctn-h-center font-dyn">
                                <div class="row alert alert-success margin-bottom-none">
                                    The Shorten URL:
                                    <span class="txt-blue" id="shorten-txt-id">{{ url_dict.short_url }}</span>
                                    <button type="button" class="btn btn-primary btn-lg"
                                            onclick="copyTheShorten('#shorten-txt-id')">Copy
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row no-margin-lr">&nbsp;</div>
                    {% else %}
                        {% if ret_message %}
                            <div class="row no-margin-lr alert alert-info margin-bottom-none">
                                <div class="in-ic-small-font">
                                    {{ ret_message }} {% if url_dict.short_url %} of {{ url_dict.short_url }} {% endif %}
                                </div>
                            </div>
                            <div class="row no-margin-lr">&nbsp;</div>
                        {% endif %}
                    {% endif %}
                    <div class="row no-margin-lr">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}
                    </div>
                    {% if form.errors %}
                        <div class="row no-margin-lr no-padding-lr margin-top-10">
                            <div class="col-xs-12 col-sm-12 di-ctn-h-center alert alert-danger margin-bottom-none">
                                <div class="in-ic-small-font">{{ form.full_url.errors|striptags }}</div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row no-margin-lr margin-top-10">
                        <div class="col-xs-12 col-sm-12 no-padding-lr di-ctn-h-center">
                            <button class="btn btn-lg btn-warning blank-space" type="submit" id="sh_id">SHORTEN</button>
                        </div>
                    </div>

                    <div class="row no-margin-lr ">
                        <div class="col-xs-12 col-sm-12 no-padding-lr di-ctn-h-center">
                            <div class=" text-center shortener-top-line">
                                <div class="h-txt-red margin-top-10">
                                    <a href="{% url 'inflator-url' %}">Get the full url of a short url?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

