{% load static %}
<div class="container-fluid text-center bg-sq-img">
    <div class="false-ex-nav"></div>
    <div class="row pd-top-30 no-margin-lr color-blue">
        <h3>
            <b>
                {{ message_title }}<br />
                {{ message_body }}<br />
                {{ message_sub_body }}<br />
            </b>
        </h3>
    </div>
</div>
