body {
    /*font: 400 15px Lato, sans-serif;*/
    width: 100%;
    margin: 0%;
    line-height: 1.8;
    color: #fff;
    background-color: #fff;
}

.color-blue{
    color: #337ab7;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}
.container-fluid {
	padding: 25px 27px;
}
.container-num-wrap {
	padding: 20px 0px;
}
.footer-container-fluid {
	padding: 40px 50px 40px 50px;
}
.jumbotron {
	color: #fff;
	padding: 100px 25px;
	font-family: Montserrat, sans-serif;
	margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}


.logo-small {
	color: #f4511e;
	font-size: 50px;
}
.logo {
	color: #f4511e;
	font-size: 200px;
}


.footer-bottom-between-space{
    padding-bottom: 40px !important;
}
.footer-bottom-space{
    padding-bottom: 30px !important;
}
.social-follow-image {
    height: 25px;
    border: 0px;
}
.ft-pay-image {
    height: 25px;
    border: 0px;
}
.ft-div-width-social{
    width: 110px;
}
.div-width-we-accept{
    width: 173px;
}
.foot-nav{
    color: #c2c4c6;
}
.foot-nav a{
    color: #c2c4c6;
    text-decoration: none;
}
.foot-nav a:hover {
	color: #000000;
}
.foot-nav a:active {
	color: #f3e248;
}
.foot-nav-space{
    margin-left: 10px;
    margin-right:10px;
}


footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #f4511e;
}


.slideanim {
	visibility:hidden;
}
.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}
@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}


@media screen and (min-width: 769px) and (max-width: 2560px) {
    .container {
        width: 95%;
    }
    .jumbotron {
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
        padding: 100px 25px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

	.logo-img{
        width: 200px !important;
        padding-top: 7px;
	}
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 15px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid {
        padding-left:0px;
        padding-right:0px;
    }
    .footer-container-fluid {
        padding: 40px 15px 40px 15px;
    }
    .jumbotron {
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
        padding: 100px 25px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }


    .logo-img{
        width: 200px !important;
        padding-top: 7px;
	}
}

@media screen and (max-width: 480px) {

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid {
        padding-left:0px;
        padding-right:0px;
    }
    .footer-container-fluid {
        padding: 40px 15px 40px 15px;
    }
    .jumbotron {
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
        padding: 50px 25px;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

	.logo {
		font-size: 150px;
	}
    .logo-img{
        width: 185px !important;
        padding-top: 7px;
	}

    .ft-div-width-social{
        width: 85px;
    }
    .social-follow-image {
        height: 18px;
        border: 0px;
    }

    .div-width-we-accept{
        width: 129px;
    }
    .ft-pay-image {
        height: 18px;
        border: 0px;
    }
}
