.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	font-family: "Open Sans",open-sans,sans-serif;
	letter-spacing: 1px;
	font-size: 16px !important;
	font-weight: bold;
}

.navbar-brand {
    padding: 15px 15px 15px 0px;
}

.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}
.navbar-brand>img {
}

.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #f3e248 !important;
	background-color: #337ab7 !important;
}
.navbar-default{
    background-color: transparent !important;
    height: 84px !important;
}
.navbar-default .navbar-toggle {
    padding-top: 18px;
	border-color: transparent;
	color: #fff !important;
	height: 58px !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-collapse{
    border-top: none;
    box-shadow: none;
}

.navbar-default .navbar-nav>li>a {
    height: 83px !important;
}
.navbar-nav>li>a {
    padding-top:34px;
}

.navbar-fixed-top.scrolled {
    background-color: #286090 !important;
    transition: background-color 2.9s linear;
}
.navbar-fixed-top.scrolled .nav-link {
}

.navbar-toggle {
    margin-right: 10px;
}

.false-ex-nav{
    width: auto;
    height: 84px;
    margin: -25px -27px !important;
    background-color: #286090;
    padding-bottom: 10px;
}


@media screen and (min-width: 769px) and (max-width: 2560px) {

}

@media screen and (max-width: 768px) {
    .navbar-brand {
        padding: 15px 15px;
        height: 83px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        padding: 15px 15px;
        height: 83px;
    }

    .false-ex-nav{
        margin: -25px 0px !important;
    }

    .navbar-nav{
        background-color: #286090;
    }
    .navbar-default .navbar-nav>li>a {
        height: 40px !important;
    }
    .navbar-nav>li>a {
        padding-top:12px;
    }

    .nav-small-no-margin-top{
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 480px) {
    .navbar-brand {
        padding: 15px 15px;
        height: 83px;
    }

    .navbar-nav{
        background-color: #286090;
    }
    .navbar-default .navbar-nav>li>a {
        height: 40px !important;
    }
    .navbar-nav>li>a {
        padding-top:12px;
    }

    .nav-small-no-margin-top{
        margin-top: 0px !important;
    }
}
