.h-txt-blue a{
    color: #337ab7;
    text-decoration: none;
}
.h-txt-blue a:hover {
	color: #337ab7;
}

.h-txt-red a{
    color: #db2e2e;
    text-decoration: none;
}
.h-txt-red a:hover {
	color: #db2e2e;
}

.shortener-outer-wrap{
    margin:auto;
    margin: 55px 30px 30px 30px;
}
.shortener-wrap{
    max-width: 100%;
    padding: 30px 30px 30px 30px;
    margin-top: 25px !important;
    border-radius: 10px;
}
.shortener-top-line{
     border-top: 1px solid #e3ebef;
     margin-top: 18px;
}
.di-ctn-h-center{
    float: none;
    margin: 0 auto;
}

.errorlist {
    list-style-type: none !important;
}

.shortener-instruct-text{
    color: #1d1d1d;
    line-height: 1.3;
}
.shortener-header{
    background-color: #f5f5f5;
    border-radius: 10px 10px 0px 0px;
    margin: -30px -30px 0px -30px;
    padding-left: 10px;
    height: 50px;
    color: #337ab7;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    line-height: 50px;
}
