.bg-white{
    background-color:#fff;
}
.bg-grey {
	background-color: #f6f6f6;
}
.bg-sq-img {
    background-image: url("/static/images/44sq.png");
    background-repeat: repeat;
}


h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
}
h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}


@keyframes change-top-msg-div {
    from {
        max-height: 160px;
    } to {
        height: 0px;
    }
}
.top-msg-position{
}
.top-msg-div {
    z-index: 99999;
    max-height: 160px;
    overflow-y: auto;
    position: fixed;
    top: 90px;
    left: 0;
    right: 0;
    width: 90%;
    margin: auto;
    background-color: #337ab7;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.top-msg-div ul{
    list-style-type: none;
    margin: auto;
}
.top-msg-div-ng-hide {
    animation: 0.3s change-top-msg-div;
}
.top-msg-div-close {
    float: right;
    width: 30px;
    height: 40px;
    margin: -20px 3px 0px 0px;
    font-size: 28px;
    color: #f3e248;
}

.form-group{
    margin-bottom: 5px;
}

.btn-warning {
    color: #000000;
    background-color: #f3e248;
    border-color: #f3e248;
    font-weight: normal;
}
.btn-warning:hover {
    color: #FFFFFF;
    background-color: #b8aa35;
    border-color: #b8aa35;
}

.padding-bottom-35{
    padding-bottom: 35px !important;
}

.shadow-inset-blue {
   -moz-box-shadow:    inset 0 0 10px #337ab7;
   -webkit-box-shadow: inset 0 0 10px #337ab7;
   box-shadow:         inset 0 0 10px #337ab7;
}
.shadow-round-blue
{
    box-shadow: 0px 0px 7px 9px rgba(51,122,183,0.60), 0 0px 12px 3px rgba(51,122,183,0.30);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.shadow-inset-black {
   -moz-box-shadow:    inset 0 0 150px #000000;
   -webkit-box-shadow: inset 0 0 150px #000000;
   box-shadow:         inset 0 0 150px #000000;
}

.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}

.txt-p-plain{
    margin: 0px !important;
}
.txt-p-plain a{
    text-decoration: none;
}

.cl-grey{
    color: #c2c4c6 ! important;
}
.txt-black{
    color: #1d1d1d;
}
.txt-orange{
    color: #f5a623;
}
.txt-green{
    color: #7ed321;
}
.txt-blue{
    color: #4a90e2;
}
.txt-blue a{
    text-decoration: none;
}

.txt-red{
    color: #db2e2e;
}
.txt-indigo{
    color: #9013fe;
}

.font-16{
    font-size: 16px !important;
}
.font-18{
    font-size: 18px !important;
}
.font-20{
    font-size: 20px !important;
}
.font-28{
    font-size: 28px !important;
}
.font-dyn{
    font-size: 28px !important;
}
.in-ic-font{
    font-size: 28px !important;
}
.in-ic-small-font{
    font-size: 20px !important;
}
.font-40{
    font-size: 40px !important;
}


.false-ex-min-height{
    min-height: 568px;
}

.width-250{
    width: 250px !important;
}
.max-width-250{
    max-width: 250px !important;
}

.div-blocks {
    display: inline-block;
    width: 100%;
}
.no-margin{
    margin:0px !important;
}
.div-gap{
    padding:2px;
}

.margin-bottom-none{
    margin-bottom: 0px !important;
}

.margin-top-5{
    margin-top: 5px !important;
}
.margin-top-10{
    margin-top: 10px !important;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}

.pd-left-0{
    padding-left: 0px !important;
}
.pd-right-0{
    padding-right: 0px !important;
}
.space-left-7{
    margin-left: 7px;
}

.space-left-10{
    margin-left: 10px;
}

.pd-top-bottom-100{
    padding: 100px 0px;
}
.pd-top-15{
    padding-top: 15px;
}
.pd-top-20{
    padding-top: 20px;
}
.pd-top-30{
    padding-top: 30px;
}
.pd-bottom-20{
    padding-bottom: 20px !important;
}
.pd-bottom-15{
    padding-bottom: 15px !important;
}
.pd-bottom-10{
    padding-bottom: 10px !important;
}

.line-height-1-5{
    line-height: 1.5 !important;
}

.pd-top-bottom-34{
    padding: 34px 0px;
}
.margin-10{
    margin: 10px !important;
}


span.bold-nat {
    color: #f3e248;
    font-weight: bold;
}

.thumbnail {
	padding: 0 0 0 0;
	border: none;
	border-radius: 0;
}
.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}


@media screen and (min-width: 769px) and (max-width: 2560px) {

}

@media screen and (max-width: 768px) {
    .blank-space{
        margin-top:7px;
    }
    .font-dyn{
        font-size: 22px !important;
    }
}

@media screen and (max-width: 767px) {
    .no-padding-lr {
       padding-left: 0 !important;
       padding-right: 0 !important;
    }
    .no-margin-lr {
       margin-left: 0 !important;
       margin-right: 0 !important;
    }

    .btn-lg {
		width: 100%;
	}

    .in-ic-font{
        font-size: 22px !important;
    }
    .in-ic-small-font{
        font-size: 18px !important;
    }

    .blank-space{
        margin-top:0px !important;
    }

    .font-dyn{
        font-size: 18px !important;
    }
}

@media screen and (max-width: 480px) {
    .no-padding-lr {
       padding-left: 0 !important;
       padding-right: 0 !important;
    }
    .no-margin-lr {
       margin-left: 0 !important;
       margin-right: 0 !important;
    }

    .font-dyn{
        font-size: 14px !important;
    }

    .in-ic-font{
        font-size: 22px !important;
    }
    .in-ic-small-font{
        font-size: 18px !important;
    }
}
