{% load static %}
<footer class="footer-container-fluid bg-white">
    <div class="row no-margin-lr">
        <div class="col-md-12 no-padding-lr text-center foot-nav">
            <span class="foot-nav-space"><a href="{% url 'shortner-index' %}">URL Shortener</a></span>
            <span class="foot-nav-space"><a href="{% url 'inflator-url' %}">URL Inflator</a></span>
        </div>
    </div>
</footer>
