{% load static %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'shortner-index' %}">
				<img class="logo-img" src="/static/images/logo.png" width="" alt="">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right nav-small-no-margin-top">
				<li><a href="{% url 'shortner-index' %}">URL Shortener</a></li>
				<li><a href="{% url 'inflator-url' %}">URL Inflator</a></li>
			</ul>
		</div>
	</div>
</nav>
