<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
		<title>
			{% block main_title %}
                UrlHammer
			{% endblock %}
		</title>
		<meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		{% load staticfiles %}

        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/container.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav-bar.css' %}" />
        <link rel="stylesheet" href="{% static 'css/universal.css' %}" />
        {% block main_css %}{% endblock %}

        <script src="{% static 'bootstrap/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'scripts/app_js/main.js' %}"></script>
        {% block main_js %}{% endblock %}
	</head>

    <body id="navRootTop" data-spy="scroll"
          data-target=".navbar" data-offset="60">
        <!--[if lt IE 7]>
            <p class="browsehappy">
                You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
            </p>
        <![endif]-->

        {% include 'header_master.html' %}
	    {% block main_content %}{% endblock %}

	    {% block main_footer %}
            {% include 'footer_master.html' %}
        {% endblock %}

        {% block footer_css %}{% endblock %}
        {% block footer_js %}{% endblock %}
        <script src="{% static 'scripts/app_js/analytics.js' %}"></script>
	</body>
</html>
